<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


    <%
var errors=errors || null;
    if(errors){ %>
           <ul>
             <% for(i=0; i< errors.length; i++) {%>
               <li><%= errors[i].msg %></li>
             <% } %>
           </ul>
         <% } %>



<form class="" action="http://localhost:8080/contactus" method="post">
  <input type="text" name="fullname" placeholder="FullName"><br>
  Type:<br>
         <select name="type">
           <option value="suggesstion">Suggesstion</option>
           <option value="complaint">Complaint</option>
         </select><br><br>
         <!-- <input type="text" name="description" placeholder="Description"><br> -->
         <textarea name="description" rows="4" cols="50"></textarea><br>
         <input type="hidden" name="_csrf" value="<%= csrfToken%>">
  <input type="submit" name="Submit" value="Submit">
</form>



  </body>
</html>
