<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<form class="" action="/thankyou" method="post">
  <input type="text" name="fullname" placeholder="FullName"><br>
suggestion:  <input type="radio" name="Type" value="suggestion"><br>
    complaints:<input type="radio" name="Type" placeholder="complaints"><br>
  <input type="text" name="description" placeholder="Description"><br>
  <input type="submit" name="Submit" value="Submit">
</form>


<%= message %>
    hello henok
  </body>
</html>
